@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i');
@import "config";
@import "header";
@import "carrousel";
@import "main";
@import "indispensable";
@import "footer";
@import "hamburger";
@import "product";
@import "info";

body{
  font-family: $primary-font;
    margin:0;
    font-size: 62.5%;
    color:$text;
}


.black {
  color: $black;
}
